#cookie-consent {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999999;
  border-color: #000;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

#cookie-accept {
  cursor: pointer;
  color: #0066CC;
}
#cookie-accept:hover {
  text-decoration: underline;
}
#cookie-consent p {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  #cookie-consent {
    /*right: unset;*/
    font-size: 13px;
  }
}
